body {
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-align: center;
    color: #004d00;
}

form {
    width: 30%;
    margin: 100px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    background-image: url('w2.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 35%;
}

label, input, select {
    display: block;
    width: 100%;
    margin: 10px 0;
}

input[type="submit"] {
    width: auto;
    background: #004d00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #003300;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #004d00;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
